body {
  background: transparent;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

#expert {
  font-size: medium;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.2rem;
}

.separator {
  width: 30%;
}

.title {
  margin-top: 100px;
  margin-bottom: 10px;

  a {
    color: #db4d57;

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }

  hr {
    width: 75%;
  }
}

.summary {
  padding: 20px;
  display: grid;
  width: 100%;

  p {
    font-size: 1.6rem;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.6rem;
    width: 90%;
    letter-spacing: 0.2rem;
    font-weight: 500;
  }
}

.work-experience {
  padding: 20px;

  .experience-title {
    margin-top: 50px;
  }

  .experience-summary {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  p {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.6rem;
    width: 90%;
    letter-spacing: 0.2rem;
  }
}
